{
    "imap_server": "imap.rambler.ru:993",
    "username": "your_login",
    "password": "your_password",
    "bot_token": "123456:ABC-DEF1234ghIkl",
    "chat_id": "123456789",
    "chat_id_err": "987654321",
    "encoding": "UTF-8",
    "send_attach": true,
    "proxy_url": "http://proxy:8118",
    "logfile": "mail-bot.log",
    "loglevel": "info",

    "tls_insecure_skip_verify": false,
    "tls_ca_cert_file": "/etc/ssl/certs/my-ca.pem",
    "tls_ca_cert_dir": "/etc/ssl/custom-certs/"
}